# .gitignore
/target/
*.log
.idea/
.DS_Store
*.class
*.iml
node_modules/
.tfvars
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform-provider-aws_v5.84.0_x5
modules.json
LICENSE.txt 
terraform.tfstate.backup
terraform/environments/production/terraform.tfvars
